* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html[data-theme="dark"] body {
  background-color: #23272d;
}

html[data-theme="light"] body {
  background-color: #fdfdfd;
}
