.chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: calc(5px + 45 * (100vw / 1080));
}

.message-list {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  position: relative;
}

.message-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  z-index: -1;
  border: #f03b71d5 solid;
  border-radius: 50%;
  transition: all 1s;
  transform: rotate(-45deg);
}


.message {
  background-color: #1b1e22;
  border-radius: 25px 25px 25px 0;
  position: relative;
  margin: 1rem 0;
  height: min-content;
  font-size: calc(5px + 8 * (100vw / 1280));
  box-shadow: #1f1e1c 0px 0px 10px 0px;
  padding: 1rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s;
  font-family: "Syne", "Syne Placeholder", sans-serif;
}

.message:hover {
  transform: scale(1.05);
  box-shadow: #1f1e1c 0px 0px 5px 2px;
}

.message img {
  width: 4rem;
  filter: drop-shadow(#1f1e1c 0px 0px 20px 20px);
  margin-right: 1rem;
  border-radius: 50%;
}

.message .text {
  display: flex;
  font-size: calc(10px + 5 * (100vw / 1280));
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.message .text h3 {
  margin-bottom: 0.5rem;
  color:#da2c60;
  text-shadow: #da2c60 0px 0px 5px;
  font-size: calc(8px + 4 * (100vw / 1280));
}

.circle {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle span {
  position: relative;
  color:whitesmoke;
  font-size: 8rem;
}



@media screen and (max-width: 768px) {
  .message-list {
    max-width: 100%;
  }
  .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
