* {
  font-family: "Syne", "Syne Placeholder", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.portfolio {
  text-align: center;
  padding: 20px;
}

.portfolio h2 {
  margin: 4rem 0;
  color: whitesmoke;
  transition: all 0.2s;
  font-size: 2rem;
  position: relative;
  transform: translate(0);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 300px;
  height: 280px;
  margin: 10px;
  border-radius: 10px;
  border: #da2c60cb solid;
}

.project img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.project-info {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}

.project h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #da2c60;
}

.project p {
  margin-top: 10px;
  font-size: 1rem;
}

.project a {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.project a:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  .project img {
    order: 2;
  }
}
