.portfolio {
  text-align: center;
  padding: 20px;
  font-family: "Syne", "Syne Placeholder", sans-serif;
}

.portfolio__title {
  margin: 4rem 0;
  color: whitesmoke;
  transition: all 0.2s;
  font-size: 2rem;
  position: relative;
  transform: translate(0);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 300px;
  height: 280px;
  margin: 10px;
  border-radius: 10px;
  border: #da2c60cb solid;
  box-shadow: 0 0 7px #ee3069, inset 0 0 7px #ee3069;
}

.project__image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 0 5px whitesmoke;
  transition: all 0.2s;
  cursor: pointer;
}

.project__image:hover {
  transform: scale(1.05);
}

.project__info {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}

.project__title {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #da2c60;
}

.project__description {
  margin-top: 10px;
  font-size: 1rem;
}

.project__link {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.project__link:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  .project__image {
    order: 2;
  }
}
