:root {
  --text-color-dark: whitesmoke;
  --text-color-light: #2e2e2e;
  --bg-project-dark: #1b1d22;
  --bg-project-light: #f1f1f1;
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --bg-project: var(--bg-project-light);
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --bg-project: var(--bg-project-dark);
}

.portfolio {
  text-align: center;
  padding: 20px;
  font-family: "Syne", "Syne Placeholder", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__title {
  margin: 4rem 0;
  color: var(--text-color);
  transition: all 0.2s;
  font-size: 2rem;
  position: relative;
  width: max-content;
}

html[data-theme="dark"] .portfolio__title::after {
  background: linear-gradient(270deg, #ee3069 0%, #23272d 100%);
}

html[data-theme="light"] .portfolio__title::after {
  background: linear-gradient(270deg, #ee3069 0%, #fdfdfd 100%);
}

.portfolio__title::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: bottom right;
}

.portfolio__title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: 300px;
  height: 280px;
  margin: 10px;
  border-radius: 10px;
  border: #da2c60cb solid;
  box-shadow: 0 0 7px #ee3069, inset 0 0 7px #ee3069;
  background: var(--bg-project);
}

.project__image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 0 5px whitesmoke;
  transition: all 0.2s;
  cursor: pointer;
}

.project__image:hover {
  transform: scale(1.05);
}

.project__info {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}

.project__title {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #da2c60;
}

.project__description {
  margin-top: 10px;
  font-size: 1rem;
}

.project__link {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.project__link:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  .project__image {
    order: 2;
  }
}
