:root {
  --bg-footer-dark:#da2c60;
  --bg-footer-light:#f02d67;

}

[data-theme="light"] {
  --bg-footer:var(--bg-footer-light);
}

[data-theme="dark"] {
  --bg-footer:var(--bg-footer-dark);
}

.footer {
  background-color: var(--bg-footer);
  color: #fff;
  padding: calc(20px + 12 * (100vw / 1280)) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-family: "Syne", "Syne Placeholder", sans-serif;
  position: relative;
}

.im-glad-to-answer-your-questions {
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 4rem;
}

.im-glad-to-answer-your-questions p {
  font-size: calc(30px + 12 * (100vw / 1280));
  text-align: left;
  color: #fff;
  margin: 1rem;
}

.im-glad-to-answer-your-questions .made-by-Ivanchik {
  font-size: 0.8rem;
  text-align: left;
}

.contact-me-form-container {
  z-index: 1;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-me-form {
  background-color: #a00e3a;
  box-shadow: 0 0 10px #a00e3a;
  padding: 20px;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-form textarea {
  padding: 10px;
  width: 75%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Syne", "Syne Placeholder", sans-serif;
  resize: vertical;
}

.contact-me-form input {
  width: 75%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Syne", "Syne Placeholder", sans-serif;
}

.contact-me-form input[type="text"],
.contact-me-form input[type="message"],
.contact-me-form input[type="email"] {
  background-color: #fff;
  color: #333;
}

.contact-me-form button {
  color: #fff;
  background-color: transparent;
  font-size: 1.4rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.im-glad-to-answer-your-questions-image__container {
  width: 130px;
  height: 130px;
}
.im-glad-to-answer-your-questions__image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 7rem 0 0 0;
  }
  .contact-me-form-container {
    order: -1;
    width: 100%;
  }
  .im-glad-to-answer-your-questions {
    align-items: center;
    justify-content: space-between;
  }
  .im-glad-to-answer-your-questions p {
    text-align: center;
  }
}
