:root {
  --text-color-dark: whitesmoke;
  --text-color-light: #2e2e2e;
  --bg-color-dark:#1a1d22;
  --bg-color-light:#f1f1f1;

}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --bg-color:var(--bg-color-light);
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --bg-color:var(--bg-color-dark);
}

.skills-block {
  background: var(--bg-color);
  padding: calc(20px + 55 * (100vw / 1280));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:calc(10px + 20 * (100vw / 1280));
  font-family: "Syne", "Syne Placeholder", sans-serif;
}

.block-title {
  color: var(--text-color);
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:calc(10px + 15 * (100vw / 1280));
    flex-wrap: wrap;
    width: 100%;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: var(--text-color);
}

.item-title {
  margin-bottom: 5px;
  font-size: calc(5px + 10 * (100vw / 1280));
}

.item-icon {
  width: 86px;
  height: 86px;
}
