.skills-block {
  background: #1a1d22;
  padding: calc(20px + 55 * (100vw / 1280));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:calc(10px + 20 * (100vw / 1280));
  font-family: "Syne", "Syne Placeholder", sans-serif;
}

.block-title {
  color: whitesmoke;
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:calc(10px + 15 * (100vw / 1280));
    flex-wrap: wrap;
    width: 100%;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: whitesmoke;
}

.item-title {
  margin-bottom: 5px;
  font-size: calc(5px + 10 * (100vw / 1280));
}

.item-icon {
  width: 86px;
  height: 86px;
}
