:root {
  --text-color-dark: whitesmoke;
  --text-color-light: #2e2e2e;
  --border-grid__item-color-dark: #ccc;
  --border-grid__item-color-light: #131313;
  --bg-grid-item_4-dark: #3c4a5e;
  --bg-grid-item_4-light: #b5c4e2;
  --bg-grid-item_2-dark: #4a505c;
  --bg-grid-item_2-light: #85a6d3;
  --bg-grid-item_7-dark: aliceblue;
  --bg-grid-item_7-light: #3c4a5e;
  --bg-grid-item_5-dark: white;
  --bg-grid-item_5-light: #1b1b44;
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --border-grid__item-color: var(--border-grid__item-color-light);
  --bg-grid-item_4: var(--bg-grid-item_4-light);
  --bg-grid-item_2: var(--bg-grid-item_2-light);
  --bg-grid-item_7: var(--bg-grid-item_7-light);
  --bg-grid-item_5: var(--bg-grid-item_5-light);
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --border-grid__item-color: var(--border-grid__item-color-dark);
  --bg-grid-item_4: var(--bg-grid-item_4-dark);
  --bg-grid-item_2: var(--bg-grid-item_2-dark);
  --bg-grid-item_7: var(--bg-grid-item_7-dark);
  --bg-grid-item_5: var(--bg-grid-item_5-dark);
}

.hero {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  padding: 100px calc(10px + 200 * (100vw / 1080));
  font-family: "Syne", sans-serif;
}

.hero__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.hero__rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__rows * {
  margin-bottom: 1rem;
}

.hero__unleash-imagination-in-code {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  position: relative;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
  font-size: calc(20px + 25 * (100vw / 1280));
  letter-spacing: 0em;
  line-height: 1.1;
  text-align: left;
}

.hero__frontend-developer {
  flex-shrink: 0;
  width: auto;
  height: auto;
  white-space: pre;
  position: relative;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
}

.hero__frontend-developer {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 100px;
  border: 1px solid #da2c60;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0 5px #da2c60, inset 0 0 5px #da2c60;
}

.hero__frontend-developer:hover {
  border: 1px solid var(--text-color);
  box-shadow: 0 0 5px var(--text-color), inset 0 0 5px var(--text-color);
}

.hero__frontend-developer p {
  transition: all 0.3s;
  margin: 0;
}

.hero__frontend-developer:hover p {
  color: #da2c60;
  text-shadow: #da2c60 0 0 5px;
}

.hero__contact-me {
  box-sizing: border-box;
  flex-shrink: 0;
  width: max-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: #da2c60;
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border: none;
  outline: none;
  border-radius: 9999px;
  transition: all 0.2s ease;
  filter: drop-shadow(#23272d 0 0 5px);
  font-family: "Syne", sans-serif;
}

.hero__contact-me:hover {
  filter: drop-shadow(#da2c60 0 0 5px);
}

.hero__grid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.hero__grid-item {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border: 1px solid var(--border-grid__item-color);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  transition: all 0.5s;
  padding-bottom: 100%;
}

.hero__grid-item:hover {
  transform: rotate(90deg);
}

.hero__grid :nth-child(1) {
  background-color: var(--bg-grid-item_5);
  border-radius: 200px 200px 0px 0px;
  transition: all 0.8s;
}

.hero__grid :nth-child(1):hover {
  background-color: var(--bg-grid-item_5);
  transform: rotate(0);
  border-radius: 0px 0px 200px 200px;
}

.hero__grid :nth-child(2) {
  background-color: var(--bg-grid-item_2);
  border-radius: 200px 200px 200px 0px;
}

.hero__grid :nth-child(3) {
  border-radius: 0px 200px 200px 200px;
}

.hero__grid :nth-child(4) {
  background-color: var(--bg-grid-item_4);
  border-radius: 10px;
}

.hero__grid :nth-child(4):hover {
  border-radius: 100%;
  transform: rotate(0);
  transition: all 0.9s;
}

.hero__grid :nth-child(5) {
  background-color: var(--bg-grid-item_5);
  border-radius: 0px 0px 200px 0px;
  transition: all 0.4s;
}

.hero__grid :nth-child(5):hover {
  border-radius: 200px 0px 0px 0px;
  transform: rotate(0);
}

.hero__grid :nth-child(6) {
  background-color: var(--bg-grid-item_7);
  border-radius: 100%;
}

.hero__grid :nth-child(6):hover {
  border-radius: 100% 10px 10px 10px;
  transform: rotate(0);
}

.hero__grid :nth-child(7) {
  border-radius: 200px 200px 200px 0px;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 2rem 10%;
    height: 100vh;
    justify-content: flex-start;
  }
  .hero__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__rows {
    margin: 3rem 0;
    width: 100%;
  }
  .hero__grid {
    width: 80%;
  }
}
